<p>Welcome to the THS Library <%= @user.first_name %> <%= @user.last_name %>,</p>  


<p>You have been successfully entered into our system. Please login into the site to activate your account: <%= @url %></p>

<p>Thanks for joining and have a great day!</p>
