<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %>,</h1>
    <p>Your hold for the book <%= Book.find(@hold.book_id).title %> is ready for pickup.</p>
    <p>Your book will be available for pickup until <%= @hold.pickup_expiry.strftime("%A, %b %e, %Y") %> before it is released to the next hold in queue.</p>
    <p>Cheers,</p>
    <p>The Toronto Hermetic Society Libary Services</p>
  </body>
</html>