<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %></h1>
    <p>
      Your checkout of the book <%= @user.book.name %> is currently overdue.<br>
    </p>

    <p>Thank you for your time and have a great day!</p>
  </body>
</html>