<% form_for @member_fee do |f| %>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>

  <div class="submit"><%= f.submit "Waive this membership fee", update_member_fee_path(@member_fee) %></div>
<% end %>