  #{$all-button-inputs},
button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $light-green;
  border-radius: $base-border-radius;
  border: #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $heading-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  padding: 0.5em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  float: left;
  margin: rem(20) rem(15) 0 0;

  &:hover,
  &:focus {
    background-color: lighten($light-green, 5%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
.book-card button {
  background-color: $light-green;
  color: $off-white;
}


