// this file handles the structure of the website
#wrapper {
	@include outer-container;
}
.input-form {
	@include outer-container;
	max-width: $small-screen;
}
.main-content {
	float: left;
	width: 100%;
	padding-top: rem(30);
}
.catalogue {
	width: 100%;
	float: left;
	padding: 0 rem(20);
	margin-bottom: rem(30);
}
.qr-scanner {
  width: 200px;
  height: 200px;
  background-color: red;
}
p.link, p.link {
	font-family: $heading-font-family;
	padding-left: rem(20);
}
.submit {
	float: left;
	width: 100%;
	padding-bottom: rem(30);
	margin-bottom: rem(40);
}
nav.pagination {
	float: left;
	width: 100%;
	padding-top: rem(20);
	margin-bottom: rem(40);
	font-family: $heading-font-family;	
} 