// toggle
#toggle-container {
	
}
#nav-toggle {
	position: absolute;
	cursor: pointer;
	padding: 30px 100px 36px 0px;
}
#nav-toggle span,
#nav-toggle span:before
#nav-toggle span:after {
	cursor: pointer;
	height: 10px;
	width: 100px;
	background: $off-white;
	position: absolute;
	display: block;
	content: '';
}
#nav-toggle span:before {
	top: -25px;
}
#nav-toggle span:after {
	bottom: -25px;
}



