// Structure
$main-content-padding: rem(15);
$no-margin: 0 0;
$no-padding: 0 0;

// Typography
$base-font-family: Georgia, "Times New Roman", serif;
$heading-font-family: Futura, Helvetica, san-serif;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.5;

$letter-spacing: 0.4px;
$base-font-weight: 300;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 3;
$base-z-index: 0;

// Colors
$dark-blue: #000019;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$light-green: #148114;
$purple: #400040;
$off-white: #fff;
$matt-black: #000;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$base-heading-color: $dark-blue;
$action-color: $dark-blue;
$base-font-weight: 300;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid #f2e5f2;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$form-margin: rem(30) 0 rem(40) 0;

// Navigation
$nav-height: 50px;


