<div class="catalogue-search">

	<%= search_form_for @search do |f| %>

		<div class="field">
			<%= f.label :title_or_first_name_or_last_name_or_subject_id_cont, "Search" %>
			<%= f.text_field :title_or_first_name_or_last_name_or_subject_id_cont %>
		</div>

	 	<div class="submit"><%= f.submit "Submit" %></div>

		<% end %>

</div><!-- end .catalogue-search -->