<h2>Check Outs</h2>

<ul>
  <% @check_outs.each do |check_out| %>
    <li>
      <%= link_to check_out.book_copy.book.title, check_out_path( check_out ) %><br />
      checked out by <strong><%= check_out.user.last_name %>, <%= check_out.user.first_name %></strong>
    </li>
  <% end %>
</ul>