<div class="catalogue">

  <h2>Checked Out Books</h2>

  <p class="link"><%= link_to "Back to Check Out Index", check_outs_path %></p>

  <%= render partial: 'checked_book', locals: { check_out: @check_out } %>
  
</div>
