<div class="catalogue">

  <p class="link">&larr; <%= link_to "Back to Check Out Index", check_outs_path %></p>

  <h2 class="title">Checked Out Books</h2>
  
  <%= render partial: 'checked_book', locals: { check_out: @check_out } %>
  
</div>
