<div class="check-out">

  <h2>Checked Out Books</h2>

  <%= render partial: 'checked_book', locals: { check_out: @check_out } %>

  <p><%= link_to "Back to Check Out Index", check_outs_path %></p>
</div>
