// book index
.catalogue { 
	@include outer-container;
	padding: 0 rem(20); 
}
.catalogue form {
	margin: $form-margin;
}
.catalogue-search .field label { // partial
	font-family: $heading-font-family;
	font-weight: $base-font-weight;
}
.catalogue h4 {
	font-size: rem(18);
	margin-bottom: rem(5);
}
.catalogue p {
	font-size: $base-font-size;
}
.book-card {
	border-bottom: $base-border;
	margin: rem(20) 0;
	padding: rem(30) 0 rem(20) 0;
	float: left;
}
.book-card img {
	margin-top: rem(10);
	float: left;
	width: 30%;
}
.book-card .data {
	float: left;
	width: 70%;
	padding-left: rem(20);
}
// book show

.description { 
	padding: rem(30) 0;
	float: left;
	text-align: justify;
}
.description p {
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	font-size: $base-font-size;
}
p.link {
	font-family: $heading-font-family;
}
.copies {
	float: left;
	width: 100%;
	background-color: $matt-black;
	padding: rem(40) rem(20);
}
.copies p, .copies ul, .copies li {
	color: $off-white;
	font-family: $heading-font-family;
}
.book-links {
	position: fixed;
	top: 0px;
	z-index: 9;  
	width: 100%;
	background-color: $off-white;
}
nav.book-menu {
	float: left;
	width: 100%; 
}
nav.book-menu ul {}
nav.book-menu ul li {
	display: inline;
	float: left;
	padding: rem(20) rem(10);
	width: 100%;
	text-align: center;
}
nav.book-menu ul li a {
	display: block;
	font-family: $heading-font-family;
}

// Google Book search results
.volume .title input {
	font-weight: $base-font-weight * 2;
	padding: $no-margin;
  text-align: center;
  margin: 0 0 rem(10) 0;
  font-weight: 600;
  letter-spacing: $small-spacing / 2;
  line-height: rem(30);
  border: 0;
  box-shadow: none;
  border-radius: 0;
}
form.new_book {
	margin-bottom: rem(40);
	padding-bottom: rem(20);
	border-bottom: $base-border;
	float: left;
}
.volume .images {
	padding-top: rem(10);
	float: left;
	width: 30%;
}
.volume .images img {
	margin-bottom: rem(5);
}
.volume .data {
	float: left;
	padding: 0 0 0 rem(20);
	width: 70%;
}
.volume .data .field {
	margin-bottom: rem(5);		
}
.volume .data .field label {
	font-size: rem(16);
	letter-spacing: $small-spacing / 6;
	font-weight: $base-font-weight * 2;
	margin: rem(10) 0 0 0;
}
.volume .data .field input {
	font-size: rem(14);
	letter-spacing: $small-spacing / 6;
	font-weight: $base-font-weight;
	margin: rem(3) 0 0 0;
	padding: $no-margin;
	height: auto;
	border: 0;
  box-shadow: none;
  border-radius: 0;
}
.volume .data .hide input {
	display: hidden;
}
