// catalogue
.catalogue { 
	@include outer-container;
	padding: 0 rem(20); 
}
.book-card {
	border-top: $base-border;
	margin: rem(20) 0;
	padding: rem(30) 0 rem(20) 0;
}
// book

.book {} 
.book-description {
	padding-top: rem(20);
}
.book-links {
	border-top: $base-border;
	margin: rem(30) 0;
	padding: rem(30) 0 rem(20) 0;
}