// Google Book search from
.google-search { 
	margin-top: rem(30);
	float: left;
	width: 100%;
	padding-bottom: rem(50);
}
// Google Book search results
.volume .title input {
	width: 100%;
	font-size: rem(26);		
  font-weight: $base-font-weight;
  border-bottom: 1.5px solid $matt-black;
	padding: 0 rem(5) 0 rem(5);
  text-align: left;
  margin: 0 0 rem(30) 0;
  letter-spacing: $letter-spacing / 4;
  line-height: $heading-line-height;
  border: 0;
  box-shadow: none;
  border-radius: 0;
}
form.new_book {
	margin-bottom: rem(40);
	padding-bottom: rem(20);
	float: left;
	width: 100%;
	border-bottom: $base-border;
}
.images {
	padding-top: rem(10);
	float: left;
	max-width: rem(150); 
}
.volume .images img {
	margin-bottom: rem(5);
	float: left;
	text-align: center;
	display: block;
	margin: 0 auto;
}
images .img-pad { 
	margin-left: rem(5);	
}
.volume .data {
	float: left;
	padding: 0 0 0 rem(20);
}
.volume .data .field {
	margin-bottom: rem(5);		
}
.volume .data .field label {
	font-size: rem(16);
	letter-spacing: $small-spacing / 6;
	font-weight: $base-font-weight * 2;
	margin: rem(10) 0 0 0;
	font-family: $base-font-family;
}
.volume .data .field input {
	font-size: rem(14);
	letter-spacing: $small-spacing / 6;
	font-weight: $base-font-weight;
	margin: rem(3) 0 0 0;
	padding: $no-margin;
	height: auto;
	border: 0;
  box-shadow: none;
  border-radius: 0;
  font-family: $base-font-family;
}
.volume .data .hide input {
	display: hidden;
}

