header {
	background-color: $base-background-color;
	width: 100%;
	float: left;
	height: $nav-height;
}
nav.main-nav ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}
nav.main-nav ul a {
	display:block;
	color: $base-font-color;
	text-decoration: none;
	font-weight: $base-font-weight;
	font-size: $base-font-size;
	line-height: $base-line-height;
	padding: rem(15) rem(15);
	font-family: $heading-font-family;
}
nav.main-nav ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}
nav.main-nav ul li.current-menu-item {
	background-color: #ddd;
}
nav.main-nav ul li:hover {
	background-color: #f6f6f6;
}
nav.main-nav ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	padding: 0;
}
nav.main-nav ul ul li {
	float: none;
	width: 200px;
}
nav.main-nav ul ul a {
	line-height: $base-line-height;
	padding: 10px 15px;
}
nav.main-nav ul ul ul {
	top: 0;
	left: 100%;
}
nav.main-nav ul li:hover > ul {
	display: block;
}
// toggle
.toggle-container {

}
#nav-toggle {
	position: absolute;
	cursor: pointer;
	padding: 30px 100px 36px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
	cursor: pointer;
	height: 10px;
	width: 100px;
	background: $off-white;
	position: absolute;
	display: block;
	content: '';

	
	transition: all 0.2s;
}
#nav-toggle span:before {
	top: -25px;
}
#nav-toggle span:after {
	bottom: -25px;
}
#nav-toggle.is-open span {
	height: 0;
}
#nav-toggle.is-open span:before {
	top: 0;
	transform: rotateZ(45deg);
}
#nav-toggle.is-open span:after {
	top: 0;
	transform: rotateZ(-45deg);
}


