.nav-wrapper {
	background-color: #400040;
	width: 100%;
	height: $nav-height;
	position: absolute;
}
header {
	float: left;
	width: 100%;
	height: $nav-height;
	position: relative;
	z-index: 1;
	top: 0;
}
nav.main-nav ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}
nav.main-nav ul a {
	display:block;
	color: #fff;
	text-decoration: none;
	font-weight: $base-font-weight;
	font-size: $base-font-size;
	line-height: $base-line-height;
	padding: rem(13) rem(15);
	font-family: $heading-font-family;
}
nav.main-nav ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}
nav.main-nav ul li.current-menu-item {
	background-color: #ddd;
}
nav.main-nav ul li:hover {
	background-color: lighten(#400040, 10%);
	color: $base-font-color;
}
nav.main-nav ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	padding: 0;
}
nav.main-nav ul ul li {
	float: none;
	width: 200px;
}
nav.main-nav ul ul a {
	line-height: $base-line-height;
	padding: 10px 15px;
}
nav.main-nav ul ul ul {
	top: 0;
	left: 100%;
}
nav.main-nav ul li:hover > ul {
	display: block;
	background-color: lighten(#400040, 5%);
}