// user profile

// index
.user-card {
	border-bottom: $base-border;
	padding: rem(30) 0 rem(20) 0;
}
ul.user-info {}
.user-card li {
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-weight: 100;
	float: none;
	margin: 0 0;
}
.new-user {
	@include outer-container;
	max-width: $small-screen;
}
.edit-user {
	@include outer-container;
	max-width: $small-screen;
}

