<div class="refunds">

  <h2>Refund Confirmation</h2>

  <p>Are you sure you want to refund this transaction?</p>
  <%= render "transactions/transaction" %>
  <% binding.pry %>
  <ul>
    <li><%= button_to'Confirm Refund', refund_path(params["format"]), method: :post %></li>
    <li><%= link_to 'Back', charges_path(params["format"]) %></li>
  </ul>

</div>